<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eras Tour Surprise Songs</title>
</head>
<body>
    <header>
        <h1>Surprise Songs at the Eras Tour</h1>
    </header>
    <section>
        <h2>Add the Suprise Songs from your Concert</h2>
        <form action="addConcert">
            <label for="guitarSong">Guitar Song or Mashup</label>
            <input type="text" name="guitarSong">
            <label for="pianoSong">Piano Song or Mashup</label>
            <input type="text" name="pianoSong">
            <button>Add Songs</button>
        </form>
    </section>
    <section>

    </section>
    <section>

    </section>
</body>
</html>