<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eras Tour Surprise Songs</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Surprise Songs at the Eras Tour</h1>
    </header>
    <main>
        <section class="flex1">
            <h2>Add the Suprise Songs from your Concert</h2>
            <form action="addConcert">
                <section class="flex2">
                    <label for="guitarSong"><img src="/images/guitar.png" alt="Guitar Song(s)"></label>
                    <input type="text" name="guitarSong" placeholder="Guitar Song(s)">
                </section>
                <section class="flex2">
                    <label for="pianoSong"><img src="/images/piano.png" alt="Piano Song(s)"></label>
                    <input type="text" name="pianoSong" placeholder="Piano Song(s)">
                </section>
                <section>
                    <button id="submit">Add Songs</button>
                </section>
            </form>
        </section>
        <section class="flex1">
            <h2>Vote On your Favorite Suprise Song Combination</h2>
            <!--.ejs for voting based on suprise songs-->
        </section>
        <section class="flex1">
            <h2>Suprise Songs Votes, by the Album</h2>
            <!--.ejs for listing suprise songs by the album-->
        </section>
    </main>
</body>
</html>