/*
PAGE
*/
main{
    background-image: url(/images/background.jpg);
}



/*
LAYOUTS
*/
div{
    width: 100%;
}

header{
    width: 100%;
    background: linear-gradient(pink, rgb(220, 3, 220));
    color: rgb(84, 34, 141);
    text-align: center
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

form{
    display: flex;
    flex-direction: column;
}

form > fieldset{
    width: 100%;
    padding: 0.5rem;
    border: 0px solid black;
}

form, ul{
    max-width: 80rem;
    align-self: center;
}

/*
FLEX
*/
.flex1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.flex1 .concertLeft{
    text-align: start;
}

.flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*
MEDIA
*/

img{
    width: 3rem;
    margin: 1rem;
}

button{
    width: 100%;
    background-color: rgb(205, 43, 226);
    color: rgb(255, 255, 255);
    border: 0.25rem solid rgb(188, 118, 218);
    border-radius: 1rem;;
}

.likeButton {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

  .likeButton:hover {
    transform: scale(1.5);
}

/*
TEXT
*/
h2{
    color: rgb(116, 0, 116);
}

h4{
    margin: 0;
}

.border{
    border-radius: 1rem;
    background: linear-gradient(pink, rgb(116, 0, 116));
}

li{
    list-style: none;
}

input{
    border-radius: 0.5rem;
    border: 0.25rem solid rgb(188, 118, 218);
}

.bold{
    font-weight: 700;
}